<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} trace_id:[%X{trace_id}] username:[%X{username}] %-5level %logger{36} -
                %msg | data:%X{data}%n
            </pattern>
        </encoder>
    </appender>
    <root level="${LOGGING.LEVEL.ROOT}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
